<a href="https://colab.research.google.com/github/Subhan-S/sample/blob/main/python_assignment_b6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Basics Assignment

### Question 1
Write a function to compute number of vowels in a string given as input

In [5]:
def count_vowels(s):
    vowels = "aeiouAEIOU"
    count = 0
    for char in s:
        if char in vowels:
            count += 1
    return count
text = "Hello, how many vowels are here?"
print(count_vowels(text))

10

### Question 2
Write a function that checks whether a number is prime.

In [7]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True
print(is_prime(7))
print(is_prime(10))
print(is_prime(1))

True
False
False

### Question 3
Write a function to return the maximum of two numbers.

In [8]:
def maximum(a, b):
    if a > b:
        return a
    else:
        return b
def maximum(a, b):
    return max(a, b)
print(maximum(5, 10))

10

### Question 4
Write a function to return the factorial of a number.

In [9]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print(factorial(5))

120

### Question 5
Write a function to reverse a string without string indexing.

In [43]:
def reverse_string_no_indexing(s):
  reversed_string = ""
  for char in s:
    reversed_string = char + reversed_string
  return reversed_string

my_string = "hello"
reversed_string = reverse_string_no_indexing(my_string)
print(reversed_string)

my_string = "hey"
reversed_string = reverse_string_no_indexing(my_string)
reversed_string

olleh

'yeh'

### Question 6
Write a function to check if a string is a palindrome.

In [41]:
def is_palindrome(s):
  s = s.lower().replace(" ", "")
  return s == s[::-1]

print(is_palindrome("Enthaai Machaaneey!!"))
print(is_palindrome("hey Bro"))

False
False

### Question 7
Write a function to count vowels in a string.

In [38]:
def count_vowels(s):
  vowels = "aeiouAEIOU"
  count = 0
  for char in s:
    if char in vowels:
      count += 1
  return count

text = "Johney Johney yes Papa"
print(count_vowels(text))

7

### Question 8
Write a function that returns the sum of a list.

In [20]:
def sum_of_list(numbers):
  total = 0
  for number in numbers:
    total += number
  return total

my_list = [1, 2, 3, 4, 5]
print(sum_of_list(my_list))

15

### Question 9
Write a function to find the smallest number in a list.

In [21]:
def find_smallest(numbers):
  if not numbers:
    return None
  smallest = numbers[0]
  for number in numbers:
    if number < smallest:
      smallest = number
  return smallest

my_list = [10, 4, 25, 1, 8]
print(find_smallest(my_list))
my_list = []
print(find_smallest(my_list))

1
None

### Question 10
Write a function to remove duplicates from a list.

In [23]:
def remove_duplicates(input_list):
  return list(set(input_list))

my_list = [1, 2, 2, 3, 4, 4, 5]
print(remove_duplicates(my_list))

my_list = ["apple", "banana", "apple", "orange"]
print(remove_duplicates(my_list))

[1, 2, 3, 4, 5]
['banana', 'apple', 'orange']

### Question 11
Write a function to sort a list in ascending order without using builtin sort function

In [27]:
def manual_sort(input_list):
  n = len(input_list)
  for i in range(n):
    for j in range(0, n - i - 1):
      if input_list[j] > input_list[j + 1]:
        input_list[j], input_list[j + 1] = input_list[j + 1], input_list[j]
  return input_list

my_list = [64, 34, 25, 12, 22, 11, 90]
print(manual_sort(my_list))

[11, 12, 22, 25, 34, 64, 90]

### Question 12
Write a function that returns the length of a string.

In [33]:
def string_length(s):
  return len(s)

my_string = "India is my country."
print(string_length(my_string))

20

### Question 13
Write a function to count words in a sentence.

In [37]:
def count_words(sentence):
  words = sentence.split()
  return len(words)

my_sentence = "India is my Country."
word_count = count_words(my_sentence)
print(f"The sentence has {word_count} words.")

my_sentence = "All Indians are my brothers and sisters"
word_count = count_words(my_sentence)
print(f"The sentence has {word_count} words.")

The sentence has 4 words.
The sentence has 7 words.

### Question 14
Write a function to convert Celsius to Fahrenheit.

### Question 15
Write a function to check if a number is palindrome.

In [44]:

def is_number_palindrome(n):
  return str(n) == str(n)[::-1]

print(is_number_palindrome(121))
print(is_number_palindrome(123))

True
False

### Question 16
Write a function to return all even numbers in a list.

In [47]:
def get_even_numbers(numbers):

  even_numbers = []
  for number in numbers:
    if number % 2 == 0:
      even_numbers.append(number)
  return even_numbers

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_list = get_even_numbers(my_list)
print(even_list)

my_list = [1, 3, 5, 7, 9]
even_list = get_even_numbers(my_list)
even_list

[2, 4, 6, 8, 10]

[]

### Question 17
Write a function to return the nth Fibonacci number.

In [46]:
def fibonacci(n):
  if n <= 1:
    return n
  else:
    return fibonacci(n - 1) + fibonacci(n - 2)

print(fibonacci(7))
print(fibonacci(10))

13
55

### Question 18
Write a function to calculate the average of a list.

In [49]:
# prompt: Write a function to calculate the average of a list

def calculate_average(numbers):
  if not numbers:
    return 0  # Return 0 for an empty list
  total = sum(numbers)
  return total / len(numbers)

my_list = [1, 2, 3, 4, 5]
average = calculate_average(my_list)
print(f"The average of the list is: {average}")

The average of the list is: 3.0

### Question 19
Write a function that returns a dictionary of character counts.

In [53]:
def character_count(s):
  char_counts = {}
  for char in s:
    if char in char_counts:
      char_counts[char] += 1
    else:
      char_counts[char] = 1
  return char_counts

my_string = "Rahul AR"
counts = character_count(my_string)
counts

{'R': 2, 'a': 1, 'h': 1, 'u': 1, 'l': 1, ' ': 1, 'A': 1}

### Question 20
Write a function that returns True if all list elements are unique.

In [54]:
def are_all_unique(input_list):
  return len(input_list) == len(set(input_list))

my_list = [1, 2, 2, 3, 4]
print(are_all_unique(my_list))

False

### Question 21
Write a function that returns dot product of two list of numbers

### Question 22
Write a function that returns the projection of vector a onto vector b. Both a and b are given as list of numbers

### Question 23
Write a function to return common elements between two lists.

In [56]:
def common_elements(list1, list2):
  return list(set(list1) & set(list2))

list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
print(common_elements(list1, list2))

list1 = ["apple", "banana", "cherry"]
list2 = ["banana", "date", "fig"]
print(common_elements(list1, list2))

[4, 5]
['banana']

### Question 24
Create a class Vector that supports addition, dot product, and magnitude.

### Question 25
Implement a function to return all outliers in a list based on the IQR method.

### Question 26
Function with default arguments:
Create a function to compute variance with an option to use sample or population formula

In [57]:
import statistics

def compute_variance(data, sample=True):

  if sample:
    return statistics.variance(data)
  else:
    return statistics.pvariance(data)

# Example usage:
my_data = [1, 2, 3, 4, 5]
sample_var = compute_variance(my_data)
population_var = compute_variance(my_data, sample=False)

print(f"Sample Variance: {sample_var}")
print(f"Population Variance: {population_var}")

Sample Variance: 2.5
Population Variance: 2

### Question 27
Create a list of squares of even numbers between 1 and 20 using list comprehension.

In [58]:
squares_of_even_numbers = [i**2 for i in range(2, 21, 2)]
squares_of_even_numbers

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

### Question 28
Write a function that returns the L1 and L2 norms of a vector given as list

### Question 29
Write a function that computes the 95% confidence interval for the mean of a list of numbers assuming normal distribution.

### Question 30
Given a list of categorical values, create a frequency distribution dictionary.

In [59]:
def frequency_distribution(categorical_list):
  freq_dist = {}
  for item in categorical_list:
    if item in freq_dist:
      freq_dist[item] += 1
    else:
      freq_dist[item] = 1
  return freq_dist

my_categories = ["red", "blue", "green", "red", "blue", "red"]
distribution = frequency_distribution(my_categories)
print(distribution)

my_categories = ["cat", "dog", "cat", "bird", "dog", "cat"]
distribution = frequency_distribution(my_categories)
distribution

{'red': 3, 'blue': 2, 'green': 1}

{'cat': 3, 'dog': 2, 'bird': 1}